---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">图灵AI</span>
    <span class="gpt-subtitle">全能文字助手</span>
  </div>
  <p mt-1 op-60>自动锁定IP和设备，禁止分享账号，导致封号不予申诉！</p>
</header>
